:root{
    --cor-Barra-Nav : rgb(40, 37, 37);
    --cor-hover: rgb(234, 232, 232);
    --cor-letras-Menu: white;
    --cor-border-top: maroon;
    --cor-header: maroon;
    --footer-background: #0b0b0b;
}

header{
    border-top: 1rem solid var(--cor-border-top);
    width: 100%;
    margin: 0 auto;
    background-color: var(--cor-header);
}
header h1{
    text-align: center;
    color: white;
}


.page-container{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.content-wrapper{
    position: absolute;
    top: 0;
    left: 0;
}

/* HOMEPAGE */
#homepage {
    margin: 5%;
}

#homepage h2 {
    color: maroon;
}
#homepage hr {
    border: 1px solid maroon;
}
.botao {
    display: inline;
    background-color: maroon;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.botao-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.segmentos-container, .diferenciais-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
.segmento, .diferencial {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px; 
    margin-bottom: 20px;
}
.diferencial img {
    display: block;
    margin: 0 0;
    max-width: 125px;
}
.segmento img {
    display: block;
    margin: 0 auto;
    max-width: 250px;
}

.descricao-diferencial {
    color: maroon;
    width: 100%;
    max-width: 200px;
    text-align: center;
}
.descricao-segmento {
    background-color: maroon;
    color: white;
    width: 100%;
    max-width: 250px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}
.descricao-segmento h3, .descricao-diferencial h3 {
    margin: 0;
}


/* FOOTER */

footer {
    background-color: var(--footer-background);
    padding-bottom: 30px;
    padding-top: 10px;
    color: #fff;
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container>div {
    flex: 1;
    margin: 0 0px;
}

.links ul {
    list-style-type: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 10px;
}

.links a {
    color: #fff;
    text-decoration: none;
}

.contato p {
    margin: 5px 0;
    text-align: center;
}

.contato a {
    color: #fff;
}

.social ul {
    list-style-type: none;
    padding: 0;
}

.social ul li {
    display: inline-block;
    margin-right: 10px;
}

.social a {
    color: #fff;
    text-decoration: none;
}

.social i {
    text-align: center;
    font-size: 24px;
}

.legal {
    margin-top: 20px;
}

.legal p {
    color: #fff;
    text-align: center;
}

.legal a {
    color: #fff;
    text-decoration: none;
}

/* Depoimentos */

.depoimentos-container {
    overflow: hidden;
    max-width: 80%;
    margin: auto;
}

.depoimentos-carousel {
    display: flex;
    animation: slide 10s infinite linear;
}



