:root{
    --cor-Barra-Nav : rgb(40, 37, 37);
    --cor-hover: rgb(234, 232, 232);
    --cor-letras-Menu: white;
    --cor-border-top: maroon;
    --cor-header: maroon;
}
header{
    border-top: 1rem solid var(--cor-border-top);
    width: 100%;
    margin: 0 auto;
    background-color: var(--cor-header);
}
header h1{
    text-align: center;
    color: white;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}


/* Barra de Navegação */

.MenuPrincipal ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: var(--cor-Barra-Nav);
}

.MenuPrincipal ul li{
    display: inline-block;
    position: relative;
}

.MenuPrincipal ul li a, .MenuPrincipal ul li a.dropbtn{
    color: var(--cor-letras-Menu);
    text-decoration: none;
    display: inline-block;
    font-size: large;
    transition: background .3s;
}

.MenuPrincipal ul li a{
    padding: 12px;
}

.MenuPrincipal ul li a.dropbtn{
    padding: auto;
}

.MenuPrincipal .dropdown-content a{
    display: block;
    max-width: 180px;
}

.MenuPrincipal .dropdown-content{
    display: none;
    position: absolute;
    color: var(--cor-letras-Menu);
    background-color: var(--cor-Barra-Nav);
    width: 180px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.268);
    z-index: 1;
}

.MenuPrincipal ul .dropdown:hover .dropdown-content{
    display: block;
}

.MenuPrincipal ul li a:hover, .MenuPrincipal .dropdown:hover .dropbtn, .MenuPrincipal .dropdown-content a:hover{
    background-color: var(--cor-hover);
    color: black;
}

/* HOMEPAGE */
#homepage {
    margin: 5%;
}

#homepage h2 {
    color: maroon;
}
#homepage hr {
    border: 1px solid maroon;
}
.botao {
    display: inline;
    background-color: maroon;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.botao-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.segmentos-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
.segmento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px; 
    margin-bottom: 20px;
}

.segmento img {
    display: block;
    margin: 0 auto;
    max-width: 250px;
}
.descricao-segmento {
    background-color: maroon;
    color: white;
    width: 100%;
    max-width: 250px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}
.descricao-segmento h3 {
    margin: 0;
}