forms{
    margin: 0 auto;
}

forms div{
    display: flex;
    background-color: maroon;
}

forms div p{
    background-color: rgb(40, 37, 37);
    margin-left: 1%;
    font-size: 75%;
    padding: 1%;
    border-radius: 5%;
}

forms div .leve{
    color: rgb(0, 255, 0);
}

forms div .medio{
    color: rgb(255, 255, 0);
}

forms div .grave{
    color: rgb(255, 0, 0);
}

forms textarea{
    resize: none;
    width: 25%;
    height: 5%;
}