body{
    background-color: rgb(40, 37, 37);
}

header h1{
    text-align: center;
    color: white;
}

#aluno {
    display: flex;
}

#aluno nav{
    position: relative;
    bottom: 16px;
    background-color: rgb(40, 37, 37);
}

#aluno nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#aluno nav ul li{
    background-color: rgb(40, 37, 37);
    color: white;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

#aluno nav ul #quadro{
    background-color: white;
    color: rgb(40, 37, 37);
}

#aluno iframe{
    border-style: none;
    background-color: white;
    width: 100vw;
    height: 82vh;
    position: relative;
    bottom: 16px;
}