header h1{
    text-align: center;
    color: white;
}

#func {
    display: flex;
}

#func nav{
    position: relative;
    bottom: 16px;
    background-color: rgb(40, 37, 37);
}

#func nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#func nav ul li{
    background-color: rgb(40, 37, 37);
    color: white;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

#func nav ul #quadro{
    background-color: white;
    color: rgb(40, 37, 37);
}

#func iframe{
    border-style: none;
    width: 100vw;
    height: 100vh;
    position: relative;
    bottom: 16px;
}