:root{
    --cor-Barra-Nav : rgb(40, 37, 37);
    --cor-hover: rgb(234, 232, 232);
    --cor-letras-Menu: white;
    --cor-border-top: maroon;
    --cor-header: maroon;
    --footer-background: #0b0b0b;
}


html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
/* TOP BAR */

header{
    /*border-top: 1rem solid var(--cor-border-top);*/
    background-color: var(--cor-header);
    padding-top: 20px;
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
}

header img{
    float: left;
    height: 200px;
    position: relative;
    top: -50px;
}

form{
    margin-top: 25px;
}

/* SEATCH BAR */
.search {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.search input[type=text] {
    width: 400px;
    height: 30px;
    border: 1px solid;
    text-align: center;
}


.search button {
    background-color: #0074D9;
    color: #f2f2f2;
    height: 30px;
    width: 26px;
    margin-right: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.search button i{
    position: relative;
}

/* NAV */

.MenuPrincipal{
    position: relative;
    top: 20px;
}

.MenuPrincipal ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: var(--cor-Barra-Nav);
}

.MenuPrincipal ul li{
    display: inline-block;
    position: relative;
}

.MenuPrincipal ul li a, .MenuPrincipal ul li a.dropbtn{
    color: var(--cor-letras-Menu);
    text-decoration: none;
    display: inline-block;
    font-size: large;
    transition: background .3s;
}

.MenuPrincipal ul li a{
    padding: 12px;
}

.MenuPrincipal ul li a.dropbtn{
    padding: auto;
}

.MenuPrincipal .dropdown-content a{
    display: block;
    max-width: 180px;
}

.MenuPrincipal .dropdown-content{
    display: none;
    position: absolute;
    color: var(--cor-letras-Menu);
    background-color: var(--cor-Barra-Nav);
    width: 180px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.268);
    z-index: 1;
}

.MenuPrincipal ul .dropdown:hover .dropdown-content{
    display: block;
}

.MenuPrincipal ul li a:hover, .MenuPrincipal .dropdown:hover .dropbtn, .MenuPrincipal .dropdown-content a:hover{
    background-color: var(--cor-hover);
    color: black;
}

/* FOOTER */

footer {
    background-color: var(--footer-background);
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 30px;
    padding-top: 10px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container>div {
    flex: 1;
    margin: 0 0px;
}

.links ul {
    list-style-type: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 10px;
}

.links a {
    color: #fff;
    text-decoration: none;
}

.contato p {
    margin: 5px 0;
    text-align: center;
}

.contato a {
    color: #fff;
}

.social ul {
    list-style-type: none;
    padding: 0;
}

.social ul li {
    display: inline-block;
    margin-right: 10px;
}

.social a {
    color: #fff;
    text-decoration: none;
}

.social i {
    text-align: center;
    font-size: 24px;
}

.legal {
    margin-top: 20px;
}

.legal p {
    color: #fff;
    text-align: center;
}

.legal a {
    color: #fff;
    text-decoration: none;
}

/* Animation Hover*/
