:root{
    --cor-Barra-Nav : rgb(40, 37, 37);
    --cor-hover: rgb(234, 232, 232);
    --cor-letras-Menu: white;
    --cor-border-top: maroon;
    --cor-header: maroon;
}
header{
    border-top: 1rem solid var(--cor-border-top);
    width: 100%;
    margin: 0 auto;
    background-color: var(--cor-header);
}
header h1{
    text-align: center;
    color: white;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../../Images/corredor_escola.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

/* LOGIN */

#login_form{
    width: 30%;
    height: 30%;
    margin: 10% auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: visible;
}

#login_form #login_part p{
    color: whitesmoke;
    background-color: maroon;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 0;
}

#login_form #login_part input[type*=button]{
    display: block;
    min-width: 30%;
    background-color: whitesmoke;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-style: none;
}

#login_form #login_part input[type*=button]:hover{
    background-color: gray;
}