:root{
    --cor-Barra-Nav : rgb(40, 37, 37);
    --cor-hover: rgb(234, 232, 232);
    --cor-letras-Menu: white;
    --cor-border-top: maroon;
    --cor-header: maroon;
    --footer-background: #0b0b0b;
}

header h2{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

header img{
    float: left;
    height: 200px;
    position: absolute;
    top: -50px;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

h2, h3{
    font-weight: bolder;
}

.Servicos{
    border-style: solid;
    border-color:rgb(214, 214, 220);
    border-radius: 0.3em;
    border-width: 0.2em;
    margin-top: 1em;
    margin-left: 20%;
    max-width: 900px;
    height: 382px;
    background-color: maroon;
    color: white;
}

.Servicos:hover{
    border-color: rgb(40, 37, 37);
    transition: border-color .3s;
}

.Servicos figure{
    display: block;
    float: left;
    margin-right: 1.5em;
}

.Servicos .info{
    margin-top: 5%;
    display: block;
}

.Servicos .info p{
    text-align: justify;
    font-size: large;
    margin-right: 1em;
}

.Servicos .modal{
    color: black;
}

/* FOOTER */

footer {
    position: relative;
    background-color: var(--footer-background);
    padding-bottom: 30px;
    padding-top: 15px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    clear: both;
}

footer h3{
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container>div {
    flex: 1;
    margin: 0 0px;
}

.links ul {
    list-style-type: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 10px;
}

.links a {
    color: #fff;
    text-decoration: none;
}

.contato p {
    margin: 5px 0;
    text-align: center;
}

.contato a {
    color: #fff;
}

.social ul {
    list-style-type: none;
    padding: 0;
}

.social ul li {
    display: inline-block;
    margin-right: 10px;
}

.social a {
    color: #fff;
    text-decoration: none;
}

.social i {
    text-align: center;
    font-size: 24px;
}

.legal {
    margin-top: 20px;
}

.legal p {
    color: #fff;
    text-align: center;
}

.legal a {
    color: #fff;
    text-decoration: none;
}